<article class="footer-copyright text-center py-3">
  {% include('slider.html.twig') %}
  <h3>Validaciones</h3>

  <p>Desarrollos Bogota-Colombia</p>

  <footer>

    <p>Copyright &copy; 1990-2020 Peter Doe, todos los derechos reservados.</p>

  </footer>

</article>