
    <div class="slider">
      <span id="slide-1"></span>
      <span id="slide-2"></span>
      <span id="slide-3"></span>
      <div class="image-container">
        <img src="{{asset('img/pexels-pixabay-257897.jpg')}}"" class="slide" width="500" height="300" />
        <img src="{{asset('img/pexels-kaboompics-com-6335.jpg')}}" class="slide" width="500" height="300" />
        <img src="{{asset('img/pexels-serpstat-572056.jpg')}}" class="slide" width="500" height="300" />
      </div>
      <div class="buttons">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
      </div>
    </div>